<!DOCTYPE html> 
<html>
<head>
<title id = "title">Pragprog Books Online Store</title>
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "depot", :media => "all" %> 
<%= javascript_include_tag "jquery.js", "rails.js", "application", :defaults %>
<%= csrf_meta_tag %>
</head>
<body id="store" onload = "clock()"> 
<div id="banner">
<%= image_tag("logo.png") %>
<%= @page_title || "Pragmatic Bookshelf" %>
</div>
<div id="columns">
<div id="side">
<div id = "time_date">
<span > <%= Time.new %> </span><br />
</div>
<script type="text/javascript">

function clock() 
{
     setInterval(function(){getTime();},1000)
	
}

function getTime() 
{
	var time = new Date();
	document.getElementById("time_date").innerHTML = time;
}

</script>

<div id = "cart">
<%= render (@cart) %>
</div>
<br />
<br />
<a href="http://www....">Home</a> <br /> 
<a href="http://www..../faq">Questions</a><br />
<a href="http://www..../news">News</a><br />
<a href="http://www..../contact">Contact</a><br />
</div>
<div id="main">
<%= yield %>
</div>
</div>
</body>
</html>