<%if notice%>
<p id = "notice"> <%= notice%> </p>
<% end %>
<h1>Your Pragmatic Catalogue </h1>

<% if !@user_store_access_count.nil? && @user_store_access_count > 5 %>
<span class = "Number_of_visits"> <%= pluralize(@user_store_access_count,'Visit')%> </span>
<% end %>

<% @products.each do |product| %>
<div class = "entry">
<% image_tag(product.image_url) %>
<h3> <%= product.title %> </h3>
<% sanitize product.description %>
<div class = "price_line">
<span class = "price"> <%= number_to_currency(product.price,
                                           :precision => 2, 
                                           :raise => true,
                                           :locale => :eg,
                                           :delimiter => ",",
                                           :separator => ".",
                                           :format => '%n %u',
                                           :unit => "$") %> </span>
<span class = "add_to_cart">
 
<%= button_to 'Add To Cart', 
line_items_path(:product_id => product.id),
:method => :create, :remote => true %>


</span>                  
                       
</div>
</div>
<% end %>

